openapi: 3.1.0
info:
  title: Employment Hero REST Bank Accounts Documents API
  description: 'Employment Hero is an AI-powered Employment Operating System covering HR, payroll, recruitment, onboarding, learning, and employee benefits. This versioned REST API exposes organisations, employees, departments, documents, custom fields, forms, certifications, cost centres, emergency contacts, contractor job histories, and bank account data. Authentication is OAuth 2.0 with short-lived (15-minute) bearer access tokens.

    '
  version: 1.0.0
  contact:
    name: Employment Hero Developer Portal
    url: https://developer.employmenthero.com
servers:
- url: https://api.employmenthero.com
security:
- oauth2: []
tags:
- name: Documents
paths:
  /api/v1/organisations/{organisation_id}/employees/{employee_id}/documents:
    get:
      summary: List employee documents
      operationId: listEmployeeDocuments
      tags:
      - Documents
      parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: '#/components/parameters/EmployeeId'
      responses:
        '200':
          description: Documents
    post:
      summary: Upload employee document
      operationId: uploadEmployeeDocument
      tags:
      - Documents
      parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: '#/components/parameters/EmployeeId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Document uploaded
components:
  parameters:
    EmployeeId:
      name: employee_id
      in: path
      required: true
      schema:
        type: string
    OrganisationId:
      name: organisation_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.employmenthero.com/oauth2/authorize
          tokenUrl: https://oauth.employmenthero.com/oauth2/token
          refreshUrl: https://oauth.employmenthero.com/oauth2/token
          scopes: {}
